@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #0d1821;
  background: linear-gradient(180deg, rgb(45, 50, 56), rgb(66, 77, 92));
  color: #dddddd;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  align-items: center;
  width: 100%;
}
.user-form {
  width: 100%;
  width: 600px;
  display: flex;
  justify-content: center;
  position: relative;
}
.clear {
  position: absolute;
  right: 0.5rem;
  border: none;
  background: transparent;
  padding: 0.5rem 0.8rem;
  color: #acacac;
  font-size: 1rem;
  cursor: pointer;
}
.clear:hover {
  color: #acacac;
  font-weight: bold;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: rgb(34, 38, 46);
  color: #cecece;
  border: none;
  border-radius: 1000px;
  padding: 0.6rem 1.5rem;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 2rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #acacac;
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 600px;
  background: linear-gradient(90deg, rgb(34, 41, 53), rgb(44, 51, 63));
  color: #f1f1f1;
  padding: 2rem 3rem;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.errorCard {
  text-align: center;
  background: linear-gradient(rgb(34, 41, 53), rgb(44, 51, 63));
  width: 600px;
  color: rgb(160, 160, 160);
  padding: 0.8rem;
  border-radius: 10px;
  margin: 0 auto;
}

.errorCard h2 {
  color: #eee;
}

.avatar {
  border-radius: 50%;
  border: 5px solid #0d1821;
  height: 120px;
  width: 120px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}
.user-info h2 {
  margin-top: 0;
}

.user-info p {
  font-size: 1rem;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}
.user-info ul li {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.user-info ul strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  background-color: rgb(62, 70, 77);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: #eee;
  padding: 0.2rem 0.6rem;
  border-radius: 500px;
  font-size: 0.8rem;
  margin-right: 0.3rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

@media (max-width: 550px) {
  .container {
    padding: 0.2rem;
  }
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    width: 100%;
  }
  .user-form input {
    margin-bottom: 1.3rem;
  }

  .user-info {
    align-items: center;
    margin-left: 0;
  }
  h2 {
    text-align: center;
  }
}
